// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-container {
    background-image: url('rally1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 0.3;

}

.definition-container {
  width: 50%;
}
