// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: center;
  background-color: black;
  width: 100%;
  border: 3px solid silver;
  letter-spacing: 3px;
  margin: 10px auto;
}

.team-header {
  font-size: 20px;
  font-weight: bold;
  border: thin solid white;
  text-align: center;
  color: silver;
}

.team-name {
  font-size: 18px;
}

.team-index-container {
  background-color: black;
  width: 50%;
}

.member-tracker {
  height: 15px;
  width: 5px;
  background-color: yellow;
  border: thin solid black;
  display: inline-block;
}

.team-progress {
  border: thin solid white;
  margin: 10px;
}

.left-to-goal {
  display: inline-block;
}
